extend layout

block content
    .container
        .row
            h1= title
    .container 
        .row
            ul 
                if error 
                    p Error in fetching data
                else 
                    if data 
                        ul 
                            for each item in data 
                                p item.name